@model AssetManagement.DesktopUI.Models.IndexViewModel;
@{
ViewData["Title"] = "Home Page";
}
<div class="content my-3 p-0">
    <div class="container">
         <div class="row">            
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0"> Systems </h5>
                    </div>
                    <div class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a class="btn btn-md btn-primary" asp-area="" asp-controller="Home" asp-action="AddNewSystem"><i class="fas fa-sm fa-plus"></i><span class="ms-2">New</span></a>
                            <a class="btn btn-md btn-secondary" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-sm fa-sync"></i></a>
                            <button href="roles.html" class="btn btn-md btn-secondary float-end"><span class="me-2">Filter by</span><i class="fas fa-sm fa-caret-down"></i></button>
                        </li>
                        <li class="list-group-item">
                            <table width="100%" class="table table-hover table-bordered table" id="systems">
                                <thead class="" >
                                    <tr>
                                        <th>Name</th>
                                        <th>IP Address</th>
                                        <th>MAC Address</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var system in Model.Systems)
                                    {
                                        <tr>
                                            <td>@system.SystemName</td>
                                            <td>@system.IpAddress</td>
                                            <td>@system.MacAddress</td>
                                            <td>
                                                <div class="float-end">
                                                    <a href=@Url.Action("DeleteSystem", new { _systemId = system.SystemId }) class="btn btn-sm btn-danger"><i class="fas fa-sm fa-trash"></i></a>
                                                    <a href=@Url.Action("EditSystemInformation", "Home", new { _systemId = system.SystemId }) class="btn btn-sm btn-primary"><i class="fas fa-sm fa-pen"></i></a>
                                                    <a href=@Url.Action("LookupSoftwareOnSystem", "Home", new { _systemId = system.SystemId}) class="btn btn-sm btn-primary"><i class="fas fa-sm fa-search"></i></a>
                                                    <a href=@Url.Action("AddSoftwareToSystem", "Home", new { _systemId = system.SystemId }) class="btn btn-sm btn-primary"><i class="fas fa-sm fa-plus"></i></a>
                                                </div>  
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
