@model IEnumerable<AssetManagement.DesktopUI.Models.Asset>;
@{
ViewData["Title"] = "Home Page";
}
<!-- Content Wrapper -->
<div class="content">
    <div class="container">
        <!-- Row -->
        <div class="row mt-2">            
            <div class="col-12">
                <!-- Card -->
               <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0"> Systems </h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a class="btn btn-md btn-primary" asp-area="" asp-controller="Home" asp-action="NewSystem"><i class="fas fa-sm fa-plus"></i><span class="ms-2">New</span></a>
                            <a class="btn btn-md btn-secondary" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-sm fa-sync"></i></a>
                            <div class="btn-group" role="group">
                                <button href="roles.html" class="btn btn-md btn-secondary"><i class="fas fa-sm fa-pen"></i></button>
                                <button href="roles.html" class="btn btn-md btn-secondary"><i class="fas fa-sm fa-trash"></i></button>
                            </div>
                            <a class="btn btn-md btn-secondary" asp-area="" asp-controller="Home" asp-action="ViewSystem"><i class="fas fa-sm fa-search"></i></a>
                            <button href="roles.html" class="btn btn-md btn-secondary float-end"><span class="me-2">Filter by</span><i class="fas fa-sm fa-caret-down"></i></button>
                        </li>
                        <li class="list-group-item">
                            <table width="100%" class="table table-hover table-bordered table" id="systems">
                                <thead class="" >
                                    <tr>
                                        <th>Name</th>
                                        <th>IP Address</th>
                                        <th>MAC Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </div>
                <!-- End Card -->
            </div>
        </div>
        <!-- End Row -->
         <!-- Row -->
        <div class="row mt-2">            
            <div class="col-12">
                <!-- Card -->
               <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0"> Software </h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a class="btn btn-md btn-primary" asp-area="" asp-controller="Home" asp-action="NewSoftware"><i class="fas fa-sm fa-plus"></i><span class="ms-2">New</span></a>
                            <a class="btn btn-md btn-secondary" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-sm fa-sync"></i></a>
                            <div class="btn-group" role="group">
                                <button href="roles.html" class="btn btn-md btn-secondary"><i class="fas fa-sm fa-pen"></i></button>
                                <button href="roles.html" class="btn btn-md btn-secondary"><i class="fas fa-sm fa-trash"></i></button>
                            </div>
                            <a class="btn btn-md btn-secondary" asp-area="" asp-controller="Home" asp-action="ViewSoftware"><i class="fas fa-sm fa-search"></i></a>
                            <button href="roles.html" class="btn btn-md btn-secondary float-end"><span class="me-2">Filter by</span><i class="fas fa-sm fa-caret-down"></i></button>
                        </li>
                        <li class="list-group-item">
                            <table width="100%" class="table table-hover table-bordered table" id="software">
                                <thead class="" >
                                    <tr>
                                        <th>Name</th>
                                        <th>Version</th>
                                        <th>Manufacturer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </div>
                <!-- End Card -->
            </div>
        </div>
        <!-- End Row -->
    </div>
</div>
<!-- End Content Wrapper -->