@model IEnumerable<AssetManagement.DesktopUI.Models.Asset>;
@{
ViewData["Title"] = "Home Page";
}
<!-- Content Wrapper -->
<div class="content">
    <div class="container">
        <!-- Row -->
        <div class="row mt-2">      
           <!-- Form -->
           <div class="col-12">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <div class="card-header">
                            <h5 class="mb-0"> Software </h5>
                        </div>
                        <div class="list-group-item">
                            <div class="row g-2 mb-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <!-- End Form -->
        </div>
        <!-- End Row -->
        <!-- Row -->
        <div class="row mt-2">            
            <div class="col-12">
                <!-- Card -->
               <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0"> System </h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <table width="100%" class="table table-bordered table-hover table" id="software">
                                <thead class="" >
                                    <tr>
                                        <th>Name</th>
                                        <th>IP Address</th>
                                        <th>MAC Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </div>
                <!-- End Card -->
            </div>
        </div>
        <!-- End Row -->
    </div>
</div>
<!-- End Content Wrapper -->