<!doctype html>
<!-- 
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/app/">
    <title>Dashboard | Bootstrap Simple Admin Template</title>
    <link href="~/lib/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="~/lib/flagiconcss/css/flag-icon.min.css" rel="stylesheet">
    <link href="~/lib/datatables/datatables.min.css" rel="stylesheet">
    <link href="~/css/master.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <img src="~/img/bootstraper-logo.png" alt="bootraper logo" class="app-logo">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Dashboard</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="Index"><i class="fas fa-file-alt"></i> Manage</a>
                </li>
            </ul>
        </nav>
        <!-- navbar navigation component -->
        <div id="body" class="">
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
            </nav>
        <!-- end of navbar navigation -->
            @RenderBody()
        </div>
    </div>
    <!-- libraries -->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
    <script src="~/lib/chartsjs/Chart.min.js"></script>
    <script src="~/lib/js-cookie/js.cookie.min.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <!-- scripts -->
    <script src="~/js/dashboard-charts.js"></script>
    <script src="~/js/initiate-datatables.js"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
</body>

</html>
