@model IEnumerable<project_cbryce996.Models.Asset>
@{
ViewData["Title"] = "Home Page";
}
<div class="content">
    <div class="container-fluid">
        <div class="page-title">
            <h3>Assets
                <a href="roles.html" class="btn btn-sm btn-primary float-end"><i class="fas fa-user-shield"></i> Add</a>
            </h3>
        </div>
        <div class="box box-primary">
            <div class="box-body">
                <table width="100%" class="table table-hover table-striped" id="dataTables-example">
                    <thead class="">
                        <tr>
                            <th>System Name</th>
                            <th>Model</th>
                            <th>Manufacturer</th>
                            <th>Type</th>
                            <th>IP Address</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var asset in Model)
                        {
                            <tr>
                                <td>@asset.SystemName</td>
                                <td>philip.chaney@gmail.com</td>
                                <td>Manager</td>
                                <td>Admin</td>
                                <td>Active</td>
                                <td class="text-end">
                                    <a href="" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                                    <a href="" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>